<%=layout('layout/boiler') %>
<div class="row">
    <div class="col-6 offset-3">
        <h1 class="text-center display-5">Enhance Camp</h1>
        <form action="/campgrounds/<%= campground._id %>?_method=PUT" method="post">
            <div class="mb-3">
                <label class="form-label" for="title">Title</label>
                <input class="form-control" type="text" name="campground[title]" id="title" value="<%= campground.title%>">
            </div>
            <div class="mb-3">
                <label class="form-label" for="location">Location</label>
                <input class="form-control" type="text" name="campground[location]" id="location" value="<%= campground.location%>">
            </div>
            <div class="mb-3">
                <label class="form-label" for="price">Price</label>
                <div class="input-group">
                    <span class="input-group-text" id="price-label">$</span>
                    <input type="text"class="form-control" name="campground[price]" id="price" value="<%= campground.price%>" aria-describedby="price-label">
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="image">Image URL</label>
                <input class="form-control" type="text" name="campground[image]" value="<%= campground.image%>" id="image">
            </div>
            <div class="mb-3">
                <label class="form-label" for="description">Description</label>
                <textarea class="form-control" type="text" name="campground[description]" id="description"><%=campground.description%></textarea>
            </div>
            <div class="mb-3">
                <button class="btn btn-success text-white">Update Campground</button>
            </div>
        </form>
        <a href="/campgrounds"<%=campground._id%>>Back to Camps</a>
    </div>
    </div>
